---
// import { ViewTransitions } from 'astro:transitions';
import { SEO } from 'astro-seo';
import '../static/global.css';
interface Props {
    title: string;
    description?: string;
}

const resolvedImageWithDomain = `${Astro.url.origin}/image.png`;
const canonicalURL = Astro.url.toString();

const { title, description } = Astro.props;
const headTitle = `${title} | photo editor online for free`;
const headDesc = description || "Photo edit online for free, resize, and filter any photos, edit photo on browser, convert image to jpg/png/jpeg/webp, easy to screenshot area or full page"
---

<!doctype html>
<html lang='en'>
    <head>
        <meta charset='UTF-8' />
        <meta name='viewport' content='width=device-width' />
        <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
        <meta name='generator' content={Astro.generator} />
        <link rel="sitemap" href="/sitemap-index.xml" />
        <meta name="keywords" content="Shot Easy, easy shot, screenshot, edit photo, photo converter, image converter, editor online, change image format online, convert image to jpg, jpg to webp, jpg to png">
        <SEO
            title={headTitle}
            description={headDesc}
            canonical={canonicalURL}
            twitter={{
                creator: '@LiWen563',
                site: '@LiWen563',
                card: 'summary_large_image',
                imageAlt: 'Shot Easy',
                description: headDesc,
            }}
            openGraph={{
                basic: {
                    url: canonicalURL,
                    type: 'website',
                    title: headTitle,
                    image: resolvedImageWithDomain,
                },
                image: {
                    url: resolvedImageWithDomain,
                    alt: 'Shot Easy',
                },
            }}
        />
        <!-- <ViewTransitions /> -->
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-3F66VYFN24"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(...args: (string | Date)[]){
            window.dataLayer.push(args);
        }
        gtag('js', new Date());

        gtag('config', 'G-3F66VYFN24');
        </script>
    </head>
    <body>
        <slot />
    </body>
</html>
